/* Centramos todo en la pantalla */
body {
    background-color: #0a0a4d; /* Color de fondo exterior */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Arial Black', Impact, sans-serif;
}

/* El cuadro principal azul oscuro que envuelve todo */
.contenedor-juego {
    background-color: #030b35;
    padding: 20px;
    border-radius: 15px;
    width: max-content;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
}

/* --- BARRA SUPERIOR --- */
.barra-superior {
    background-color: #0a1752;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    margin-bottom: 15px;
    font-size: 18px;
    text-align: left;
}

/* --- CANVAS --- */
canvas {
    display: block;
    background-color: lightgray; /* Color de fondo por si tarda en cargar la imagen */
    border-radius: 8px; /* Le redondeamos un poco las puntas al juego */
}

/* --- BARRA INFERIOR DE REINICIO --- */
.barra-inferior {
    margin-top: 15px; /* Arranca invisible, la mostramos con JavaScript */
    justify-content: center; /* Centra el botón */
}

/* El botón verde grandote */
.btn-accion {
    background-color: #2e7d32;
    padding: 15px 30px;
    border-radius: 12px;
    font-size: 20px;
    color: white;
    border: none;
    font-family: inherit;
    font-weight: bold;
    cursor: pointer;
    width: 100%; /* Para que ocupe todo el ancho si quieren */
}

.btn-accion:active {

    box-shadow: 0 1px 0 #1b4e20; /* Completa el efecto 3D */
}